<a name="{{ image.caption | slugify }}">
<div class="panel panel-primary image-item">
  <div class="panel-heading text-center">
    <h3 class="panel-title">
      {% if image.caption  %}{{ image.caption}}{% else %}[no caption]{% endif %}
      <br />
      <small><em>
      <a href="{{ image.fullsize | prepend: gallery_path }}"
	 target="_blank"
	 title="Click for full sized image"
	 class="lighten">
	full size
      </a>
      </em></small>
    </h3>
  </div>
  <div class="panel-body">
    <a class="fancybox"
       href="{{ image.web | prepend: gallery_path }}"
       rel="post-group"
       title="{{ image.caption }}"
       >
      <img class="img-responsive white-border"
	   src="{{ image.gallery | prepend: gallery_path }}"
	   alt="{{ image.caption }}"
	   title="{{ image.caption }}"
	   >
      <br />
      <p class="text-center"><small>click on image for slideshow</small></p>
    </a>
    <p>{% if image.description %}{{ image.description | markdownify}}{% endif %}</p>
  </div>
</div>
