<!-- <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script> -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/javascripts/post_index.js"></script>
<script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script>
$(function () { $('[data-toggle="tooltip"]').tooltip() });
$(function () { $('[data-toggle="popover"]').popover() });
$(document).ready(function() {
  $(".fancybox").fancybox();
});
</script>
{% if page.masonry %}
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script>
var $grid = $('.grid').masonry({itemSelector:'{{page.masonry.itemSelector}}',columnWidth:{{page.masonry.columnWidth}}});
$grid.imagesLoaded().progress(function(){$grid.masonry('layout')});
</script>
{% endif %}
