ul.link-list {
    display: inline;
    padding-left: 0px;
    list-style: none;

    li {
        display: inline;
        padding-right: 3px;
    }
}

.lighten { color: $grey-lighter; }
.white-border { border: 1px solid white; }
.black-border { border: 1px solid black; }
.grey-border, .gray-border { border: 1px solid $grey-dark; }

.fancy-img {
    max-width: 100%;
    border: 1px solid white;
    padding: 2px;
    display: block;
    margin: 2px auto;
}

.gallery-image {
    height: auto;
    width: 100%;
    text-align: center;
    @media (min-width: $screen-md-min) {
	height: 300px;
	width: auto;
	overflow: hidden;
	margin-bottom: 10px;
    }
}

.image-item {
    img {
	@extend .img-responsive;
	margin: 0 auto;
    }
}



.hide-on-mobile {
    display: none;
}

.responsive-image-markdown {
    img {
	@extend .img-responsive;
	text-align: center;
    }
}

.fancy-img-markdown {
    img {
	@extend .img-responsive;
	border: 1px solid white;
	padding: 2px;
	display: block;
	margin: 2px auto;
    }
}

.media-object {
    max-width: 50px;
    max-height: 50px;
}


@media(min-width: $screen-md-min) {
    .hide-on-mobile {
	display: inherit;
    }
    .media-object {
	max-width: 200px;
	max-height: 200px;
    }
}
