---
layout: post
title: "Thompson Park Autumn Colour, 2015"
date: 2015-10-22 00:55
categories: ["photograph"]
tags: ["autumn", "trees", "thompson-park"]
gallery:
  path: photography/2015-10-21-thompson-park/
  images:
  - fullsize: 001-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/001-thompson-park-autumn-colour-20151021.jpg
    web: webs/001-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/001-thompson-park-autumn-colour-20151021.gif
    caption: "001"
    description: All about the image 001-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 002-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/002-thompson-park-autumn-colour-20151021.jpg
    web: webs/002-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/002-thompson-park-autumn-colour-20151021.gif
    caption: "002"
    description: All about the image 002-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 003-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/003-thompson-park-autumn-colour-20151021.jpg
    web: webs/003-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/003-thompson-park-autumn-colour-20151021.gif
    caption: "003"
    description: All about the image 003-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 004-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/004-thompson-park-autumn-colour-20151021.jpg
    web: webs/004-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/004-thompson-park-autumn-colour-20151021.gif
    caption: "004"
    description: All about the image 004-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 005-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/005-thompson-park-autumn-colour-20151021.jpg
    web: webs/005-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/005-thompson-park-autumn-colour-20151021.gif
    caption: "005"
    description: All about the image 005-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 006-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/006-thompson-park-autumn-colour-20151021.jpg
    web: webs/006-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/006-thompson-park-autumn-colour-20151021.gif
    caption: "006"
    description: All about the image 006-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 007-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/007-thompson-park-autumn-colour-20151021.jpg
    web: webs/007-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/007-thompson-park-autumn-colour-20151021.gif
    caption: "007"
    description: All about the image 007-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 008-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/008-thompson-park-autumn-colour-20151021.jpg
    web: webs/008-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/008-thompson-park-autumn-colour-20151021.gif
    caption: "008"
    description: All about the image 008-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 009-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/009-thompson-park-autumn-colour-20151021.jpg
    web: webs/009-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/009-thompson-park-autumn-colour-20151021.gif
    caption: "009"
    description: All about the image 009-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 010-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/010-thompson-park-autumn-colour-20151021.jpg
    web: webs/010-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/010-thompson-park-autumn-colour-20151021.gif
    caption: "010"
    description: All about the image 010-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 011-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/011-thompson-park-autumn-colour-20151021.jpg
    web: webs/011-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/011-thompson-park-autumn-colour-20151021.gif
    caption: "011"
    description: All about the image 011-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 012-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/012-thompson-park-autumn-colour-20151021.jpg
    web: webs/012-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/012-thompson-park-autumn-colour-20151021.gif
    caption: "012"
    description: All about the image 012-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 013-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/013-thompson-park-autumn-colour-20151021.jpg
    web: webs/013-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/013-thompson-park-autumn-colour-20151021.gif
    caption: "013"
    description: All about the image 013-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 014-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/014-thompson-park-autumn-colour-20151021.jpg
    web: webs/014-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/014-thompson-park-autumn-colour-20151021.gif
    caption: "014"
    description: All about the image 014-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 015-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/015-thompson-park-autumn-colour-20151021.jpg
    web: webs/015-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/015-thompson-park-autumn-colour-20151021.gif
    caption: "015"
    description: All about the image 015-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 016-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/016-thompson-park-autumn-colour-20151021.jpg
    web: webs/016-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/016-thompson-park-autumn-colour-20151021.gif
    caption: "016"
    description: All about the image 016-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 017-thompson-park-autumn-colour-20151021-0.jpg
    gallery: gallery/017-thompson-park-autumn-colour-20151021-0.jpg
    web: webs/017-thompson-park-autumn-colour-20151021-0.jpg
    thumb: thumbs/017-thompson-park-autumn-colour-20151021-0.gif
    caption: "017-0"
    description: All about the image 017-thompson-park-autumn-colour-20151021-0.jpg
  - fullsize: 017-thompson-park-autumn-colour-20151021-1.jpg
    gallery: gallery/017-thompson-park-autumn-colour-20151021-1.jpg
    web: webs/017-thompson-park-autumn-colour-20151021-1.jpg
    thumb: thumbs/017-thompson-park-autumn-colour-20151021-1.gif
    caption: "017-1"
    description: All about the image 017-thompson-park-autumn-colour-20151021-1.jpg
  - fullsize: 018-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/018-thompson-park-autumn-colour-20151021.jpg
    web: webs/018-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/018-thompson-park-autumn-colour-20151021.gif
    caption: "018"
    description: All about the image 018-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 019-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/019-thompson-park-autumn-colour-20151021.jpg
    web: webs/019-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/019-thompson-park-autumn-colour-20151021.gif
    caption: "019"
    description: All about the image 019-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 020-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/020-thompson-park-autumn-colour-20151021.jpg
    web: webs/020-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/020-thompson-park-autumn-colour-20151021.gif
    caption: "020"
    description: All about the image 020-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 021-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/021-thompson-park-autumn-colour-20151021.jpg
    web: webs/021-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/021-thompson-park-autumn-colour-20151021.gif
    caption: "021"
    description: All about the image 021-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 023-thompson-park-autumn-colour-20151021-0.jpg
    gallery: gallery/023-thompson-park-autumn-colour-20151021-0.jpg
    web: webs/023-thompson-park-autumn-colour-20151021-0.jpg
    thumb: thumbs/023-thompson-park-autumn-colour-20151021-0.gif
    caption: "023-0"
    description: All about the image 023-thompson-park-autumn-colour-20151021-0.jpg
  - fullsize: 023-thompson-park-autumn-colour-20151021-1.jpg
    gallery: gallery/023-thompson-park-autumn-colour-20151021-1.jpg
    web: webs/023-thompson-park-autumn-colour-20151021-1.jpg
    thumb: thumbs/023-thompson-park-autumn-colour-20151021-1.gif
    caption: "023-1"
    description: All about the image 023-thompson-park-autumn-colour-20151021-1.jpg
  - fullsize: 024-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/024-thompson-park-autumn-colour-20151021.jpg
    web: webs/024-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/024-thompson-park-autumn-colour-20151021.gif
    caption: "024"
    description: All about the image 024-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 025-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/025-thompson-park-autumn-colour-20151021.jpg
    web: webs/025-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/025-thompson-park-autumn-colour-20151021.gif
    caption: "025"
    description: All about the image 025-thompson-park-autumn-colour-20151021.jpg
  - fullsize: 022-thompson-park-autumn-colour-20151021.jpg
    gallery: gallery/022-thompson-park-autumn-colour-20151021.jpg
    web: webs/022-thompson-park-autumn-colour-20151021.jpg
    thumb: thumbs/022-thompson-park-autumn-colour-20151021.gif
    caption: "022"
    description: All about the image 022-thompson-park-autumn-colour-20151021.jpg



---
<p>While I was at painting class today, I took advantage of the drying time in the midst of the painting, and strolled around the park where the activity center is, enjoying the fall weather and autumn colour on a brilliant day.</p>

{% assign gallery_path = site.s3path | append: page.gallery.path %}

<div class="hide-on-mobile">
<div id="carousel-autumn-colour" class="carousel slide" data-ride="carousel" data-interval="7000">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for image in page.gallery.images %}
    <div class="item {% if forloop.first %}active{% endif %} text-center">
      <img src="{{image.web|prepend: gallery_path}}" alt="{{image.caption}}" title="{{image.caption}}" class="img-responsive" style="width: auto; height: 600px; margin: 0 auto">
      <div class="carousel-caption">
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-autumn-colour" role="button" data-slide="prev">
    <span class="fa fa-chevron-left fa-4" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-autumn-colour" role="button" data-slide="next">
    <span class="fa fa-chevron-right fa-4" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<hr />


<div class="row">
{% for image in page.gallery.images %}
<div class="col-xs-12 col-md-4"><div class="panel panel-default">
<div class="panel-heading text-center"><a href="{{image.fullsize | prepend: gallery_path }}">{{image.caption}}</a></div>
<div class="panel-body gallery-image">
<a class="fancybox" href="{{image.web | prepend: gallery_path}}" rel="gallery-group" title="{{image.caption}}">
<img src="{{image.gallery | prepend: gallery_path}}" alt="{{image.caption}}" title="{{image.caption}}" />
</a>
</div>
</div></div>
{% endfor %}
</div>
