<div class="media">
  <div class="media-left">
    <a target="_blank" href="{{image.web | prepend: gallery_path}}">
      <img class="media-object"
           src="{{image.thumb | prepend: gallery_path}}"
           alt="{{image.caption}}"
           width="200px"
           height="200px"
           style="min-width: 200px; min-height: 200px;"></a>
  </div>
  <div class="media-body">
    {% if image.caption %}
    <h4 class="media-heading">
      <a target="_blank"
         href="{{image.web | prepend: gallery_path}}">
        {{image.caption}}
      </a>
    </h4>
    {% else %}
    <p><em>no caption</em></p>
    <p><em>[<a href="{{ image.web | prepend: gallery_path }}">embiggen</a></em>]</p>
    {% endif %}
    {% if image.description %}
    <p>{{ image.description | markdownify }}</p>
    {% else %}
    <p><em>no description.</em></p>
    {% endif %}
    <p><em>[<a target="_blank" href="{{image.fullsize | prepend: gallery_path}}">full size</a>]</em></p>
  </div>
</div>
